node_modules/
dist/
dist-electron/
*.AppImage
*.AppImage.tar.gz
*.dmg
*.exe
*.dll
*.so
*.dylib
*.snap
*.deb
*.rpm
*.blockmap
latest-linux.yml
latest-mac.yml
latest.yml
builder-debug.yml
release/
out/
*.log
.env
.env.local
.DS_Store
Thumbs.db
